<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kanyun.geekboard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--允许程序连接配对过的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--允许程序进行发现和配对新的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--允许访问摄像头进行拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--请求网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取SD卡权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--写SD卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许变更配置权限,比如国际化,根据系统设定的语言,App更改语言：允许一个程序修改当前设置，如本地化-->
    <!--但是该权限是系统级别的权限, 普通第三方应用时没有权限使用的, 即使声明了该权限也无法获取该权限. 需要声明该应用为系统级别:需要在AndroidManifest.xml 添加android:sharedUserId="android.uid.system". 如果是在linux上编译的话再Android.mk上添加LOCAL_CERTIFICATE := platform. 否则需要手动签名-->
    <!--<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />-->

    <!--在application节点中指定了程序的name属性，这个name属性是来设置你所有activity所属于哪个application的，默认是android.app.Application也可以自己定义一个类但是此类需要继承Application类-->
    <!--将我们以前一直用的默认Application给他设置成我们自己做的MyApplication,MyApplication类的作用是为了放一些全局的和一些上下文都要用到变量和方法之类的-->
    <application
        android:name=".MyApplication"
        android:sharedUserId="android.uid.system"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:enabled="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--开发用手机分辨率,如果使用AutoLayoutActivity来做自适应,需要此配置,否则会报错-->
        <meta-data android:name="design_width" android:value="1080" />
        <meta-data android:name="design_height" android:value="1920" />

        <!--定义服务-->
        <!--需要注意的是name需要加上包名(只需要精确到应用名下一级即可,如这里的.service.GeekBoardIME ,它是不带cn.kanyun.geekboard的)-->
        <!--label: 显示在键盘选择列表的名称-->
        <!--请求了 BIND_INPUT_METHOD 权限来允许服务连接到系统的IME，建立intent filter和metadata-->
        <service
            android:name=".service.GeekBoardIME"
            android:label="@string/show_board_list_name"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <!--静态注册广播接受者,优先级priority取值为 -1000 ~ 1000 -->
            <!--IntentFilter的匹配规则：一个过滤规则中有多个action-->
            <intent-filter android:priority="0">
                <!--自定义键盘放入清单文件,这句话必须添加,否则在激活键盘列表中,找不到该键盘-->
                <!--https://www.cnblogs.com/dame/p/8085907.html-->
                <action android:name="android.view.InputMethod" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.view.im" android:resource="@xml/input_method" />
        </service>

        <!--android:exported:用于指示该广播接收器是否能够接收来自应用程序外部的消息，如果设置true，则能够接收，如果设置为false，则不能够接收。如果设置为false，这该接收只能接收那些由相同应用程序组件或带有相同用户ID的应用程序所发出的消息-->
        <!--android:enabled:这个属性用于定义系统是否能够实例化这个广播接收器，如果设置为true，则能够实例化，如果设置为false，则不能被实例化。默认值是true。<application>元素有它自己的enabled属性，这个属性会应用给应用程序的所有组件， 包括广播接收器。<application>和<receiver>元素的这个属性都必须是true，这个广播接收器才能够被启用。如果有一个被设置为false，该广播接收器会被禁止实例化-->
        <!--<receiver-->
            <!--android:name=".broadcast.InputMethodChangeReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
        <!--</receiver>-->

        <!--此处配置所有Activity,具体Activity的配置放在intent-filter配置中-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!--配置启动Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--通过系统调用其他的App进行分享,加入此配置,当调用分享时,该app将出现在被分享的列表中-->
                <!--<action android:name="android.intent.action.SEND"/>-->
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_intro" />

        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.BoardSettingActivity" />
        <activity android:name=".activity.VerificationActivity" />

    </application>

</manifest>