<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kanyun.geekboard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--请求网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取SD卡权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--写SD卡权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".GeekBoardIME"
            android:label="@string/geekboard_ime"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <!--自定义键盘放入清单文件-->
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <!--此处配置所有Activity,具体Activity的配置放在intent-filter配置中-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!--配置启动Activity-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--通过系统调用其他的App进行分享,加入此配置,当调用分享时,该app将出现在被分享的列表中-->
                <!--<action android:name="android.intent.action.SEND"/>-->
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GuideActivity"
            android:label="@string/app_intro" />

        <activity android:name=".activity.FeedBackActivity" />

    </application>

</manifest>